<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
</head>
<body>
    <h1>Welcome to chat room {{ roomid }}</h1> <!-- This is where and how room is referenced-->
        <div id="messages"></div> <!-- initialliy empty because there are no messages yet -->
        <form id = 'message_input'>
            <input type="text" placeholder="Enter your message here">
            <button type = "submit">Send</button>
        </form>
</body>

<!-- This is like an import for the socketio and jquery so that you can call it in the script below -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>

<!-- This is a Google hosted library and it's the function that starts with $ doc-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>   -->


<script type = "text/javascript">
    const socket = io.connect('http://127.0.0.1:5001'); 

        //Handles the when a connect event happens like the above
        socket.on('connect', function () {
            socket.emit('join_room', {

                //The left is what is passed into the join_room function
                username: " {{ username }}", // ex. username = {{ username }}
                roomid: "{{ roomid }}"
            });
        });

        //listens to the join_room_announcement event created by app.py in the handle_join_room_event method
        socket.on('join_room_announcement', function(data) { //note that data is in between function because it is passed it
            
            //console.log(data)//print to make sure it works

            //Grab the div variable from html
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${ data.username }</b> has joined the room`; // created a div with reference to the data.username that is passed into function <b> is bold
            document.getElementById('messages').appendChild(newNode); //append the div that was created into the messages div that we had earlier

        })


    /*$(document).ready(function(){ 

        //Make sure that this is correctly being ported with docker and it's not just '0.0.0.0' 
        var socket = io.connect("http://127.0.0.1:5001"); 

        //This is used to let people know that a user is connected (listens to when a connection happens)
        socket.on('connect', function() {
            socket.send('User has connected');
        });
    });*/
    
</script>
</html> 