<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
</head>
<body>
    <h1>My Chat App</h1>
        <form action="/chat"> <!--This moves over to the /chat app route in the app.py file-->
            <div>
                <label>Enter your username:</label>
                <input type="text" name="username">
            </div>
            <div>
                <label>Enter room:</label>
                <input type="text" name="roomid">
            </div>
            <button type="submit">Submit</button>
        </form>
</body>
</html>