<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
</head>
<body>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.connect('http://127.0.0.1:5001');
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
    </script> -->
    <h1>My Chat App</h1>
        <form action="/chat"> <!--This moves over to the /chat app route in the app.py file-->
            <div>
                <label>Enter your username:</label>
                <input type="text" name="username">
            </div>
            <div>
                <label>Enter room:</label>
                <input type="text" name="roomid">
            </div>
            <button type="submit">Submit</button>
        </form>
</body>
</html>